{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">

        <h2>Nick Ekleme Ekranı</h2> 
        <hr>
        <p>Eklemek istediğiniz nickleri giriniz, <small>{{request.user.username}} </small></p>  <hr>
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <br>
            <button type = "submit" class = "btn btn-danger">Nick Ekle</button>
        </form>
    </div>
</div>
        
{% endblock  %}