{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">

        <h2>Kontrol Paneli</h2> 
        <hr>
        <p>Hoşgeldiniz, <small>{{request.user.username}} </small></p>  <hr>
    <a href="/nick/addnick">
            <button>Nick Ekle</button>
        </a>  <hr>


            {% if form %}
            <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Başlık</th>
                        <th scope="col">Yazar</th>
                        <th scope="col">Tarih</th>
                        <th scope="col">Güncelle</th>
                        <th scope="col">Sil</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for nick in form %}
                    <tr>
                        <th scope="row">{{nick.id}}</th>
                        <td><a href="{% url 'nick:detail' nick.id %}">{{nick.title}}</a></td>
                        <td>{{nick.author.username}}</td>
                        <td>{{nick.created_date}}</td>
                        <td><a href="{% url 'nick:update' nick.id %}" class = "btn btn-danger">Güncelle</a></td>
                        <td><a href="{% url 'nick:delete' nick.id %}" class = "btn btn-danger">Sil</a> </td>
                        
                    </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            {% else %}
            
            <div class = "alert alert-danger">
                Henüz bir makaleniz bulunmuyor...
            
            </div>
            {% endif %}
            

            <br>


    </div>
</div>
        
{% endblock  %}